<div class="menuComponent">
  <p class="fontSmall">to co potrzebujesz w jednym miejscu</p>
  <div class="firstMenu">
    <app-button-menu-square
      namefa="fa-solid fa-pen-ruler"
      text="projekty graficzne"
      link="graphics"
    >
    </app-button-menu-square>
    <app-button-menu-square
      namefa="fa-solid fa-warehouse"
      text="znakowanie magazynów"
      link="marking-warehouse"
    >
    </app-button-menu-square>
    <app-button-menu-square
      namefa="fa-brands fa-square-web-awesome-stroke"
      text="poligrafia dla firm"
      link="print-companes"
    >
    </app-button-menu-square>
    <app-button-menu-square
      namefa="fa-brands fa-unsplash"
      text="usługi dronowe"
      link="drone-services"
    >
    </app-button-menu-square>
  </div>
  <div class="secondMenu">
    <app-link-menu nameInput="Kontakt" linkInput="contact"></app-link-menu>
    <app-link-menu nameInput="O nas" linkInput="about-us"></app-link-menu>
    <app-link-menu nameInput="Portfolio" linkInput="portfolio"></app-link-menu>
    <app-link-menu nameInput="Rekomendacje" linkInput="recommendations"></app-link-menu>
  </div>
</div>
