<div class="menuComponent">
  <p class="fontSmall">to co potrzebujesz w jednym miejscu</p>
  <div class="firstMenu">
    <app-button-menu-square
      namefa="fa-sharp-duotone fa-light fa-paintbrush-pencil"
      text="projekty graficzne"
      link="graphics"
    >
    </app-button-menu-square>
    <app-button-menu-square
      namefa="fa-sharp-duotone fa-light fa-warehouse-full"
      text="znakowanie magazynów"
      link="marking-warehouse"
    >
    </app-button-menu-square>
    <app-button-menu-square
      namefa="fa-sharp-duotone fa-lught fa-shredder"
      text="poligrafia dla firm"
      link="print-companes"
    >
    </app-button-menu-square>
    <app-button-menu-square
      namefa="fa-sharp-duotone fa-light fa-drone-front"
      text="usługi dronowe"
      link="drone-services"
    >
    </app-button-menu-square>
    <app-button-menu-square
      namefa="fa-duotone fa-light fa-chart-pie-simple-circle-currency"
      text="analiza danych"
      link="data-analytics"
    >
    </app-button-menu-square>
    <app-button-menu-square
      namefa="fa-duotone fa-light fa-globe-www"
      text="strony internetowe"
      link="website-creation"
    >
    </app-button-menu-square>
  </div>
  <div class="secondMenu">
    <app-link-menu nameInput="Kontakt" linkInput="contact"></app-link-menu>
    <app-link-menu nameInput="O nas" linkInput="about-us"></app-link-menu>
    <app-link-menu nameInput="Portfolio" linkInput="portfolio"></app-link-menu>
    <app-link-menu nameInput="Rekomendacje" linkInput="recommendations"></app-link-menu>
  </div>
</div>
