<app-hero></app-hero>
<div class="sectionApproach">
  <h2>Systemowe podejście do znakowania</h2>
  <div class="descriptionElement">
    <p>W środowisku magazynowym oznakowanie nie pełni wyłącznie funkcji informacyjnej.
      Jest elementem organizacji procesów operacyjnych i bezpieczeństwa pracy.</p>
    <p>Projektujemy systemy oznaczeń w oparciu o analizę infrastruktury, przepływów
      towarowych i realnych potrzeb operacyjnych.</p>
  </div>
  <div class="listApproach">
    <h4>Dobrze zaprojektowane oznakowanie</h4>
    <ul>
      <li>
        <i class="fa-sharp fa-light fa-location-crosshairs"></i>
        minimalizuje błędy lokalizacyjne
      </li>
      <li>
        <i class="fa-sharp fa-light fa-stopwatch"></i>
        skraca czas operacji
      </li>
      <li>
        <i class="fa-sharp fa-light fa-shield-check"></i>
        zwiększa bezpieczeństwo
      </li>
      <li>
        <i class="fa-sharp fa-light fa-diagram-project"></i>
        porządkuje strukturę przestrzeni
      </li>
      <li>
        <i class="fa-light fa-chalkboard-user"></i>
        ułatwia wdrażanie nowych pracowników
      </li>
    </ul>
  </div>
  <div class="scopeOfServiceElement">
    <h4>Zakres usług</h4>
    @for (data of dataElements; track data.id; let i = $index) {
      <app-scope-service [data]="data" [isReverse]="i % 2 === 0"></app-scope-service>
    }
  </div>
  <app-button-link link="contact" fragment="wspolpraca"
                   name="jak wyglada wspólpraca"></app-button-link>
  <div class="benefitsSection">
    <h3>Realne korzyści operacyjne</h3>
    <h6>Oznakowanie jako element efektywności operacyjnej</h6>
    <p>W środowisku magazynowym dobrze zaprojektowany system oznaczeń wpływa bezpośrednio
      na tempo pracy, poziom błędów oraz bezpieczeństwo operacyjne.
      Poniżej przedstawiono kluczowe obszary, w których system oznakowania realnie wspiera
      funkcjonowanie magazynu.</p>
    <div class="benefitsList">
      @for (data of benefitnsList; track $index; let index = $index) {
        <app-benefit-list [index]="index" [dataBenefits]="data"></app-benefit-list>
      }


    </div>
  </div>
  <div class="forWhoSection">
    <h3>Dla kogo jest ta usługa</h3>
    <h6>Dla jakich organizacji projektujemy systemy oznaczeń</h6>
    <p>Wspieramy firmy, w których oznakowanie magazynu wpływa bezpośrednio na efektywność
      operacyjną, bezpieczeństwo pracy oraz jakość realizowanych procesów
      logistycznych.</p>
    <div class="forWhooElements">
      @for (element of dataForWho; track $index; let index = $index) {
        <div class="elementForWhoo">
          <i class="{{element.icon_fa}}"></i>
          <h6>{{ element.title }}</h6>
          <p>{{ element.description }}</p>
        </div>
      }
    </div>
  </div>
  <div class="whyWeSection">
    <h3>Dlaczego Fora Warehouse System</h3>
    <h6>System oznaczeń projektowany w oparciu o realne procesy operacyjne</h6>
    <p>
      W wielu magazynach oznakowanie powstaje jako element graficzny lub organizacyjny.
      My projektujemy je jako część systemu operacyjnego magazynu.
    </p>
    <p>
      Łączymy doświadczenie logistyczne z projektowaniem systemów identyfikacji
      przestrzeni magazynowej, dzięki czemu oznaczenia wspierają rzeczywiste procesy
      operacyjne.
    </p>
    <div class="whyWeElements">
      @for (element of dataWhyWe; track $index; let i = $index) {
        <div class="elemetnWyWe">
          <h6>{{ element.title }}</h6>
          <p class="left">{{ element.first_paragraph }}</p>
          <div class="separator"></div>
          <p class="right">{{ element.second_paragraph }}</p>
        </div>
      }
    </div>
    <p>Fora Warehouse System łączy doświadczenie logistyczne z projektowaniem systemów
      oznaczeń, które realnie wspierają funkcjonowanie magazynów i obiektów
      przemysłowych.</p>
  </div>
  <div class="CTASection">
    <h3>Porozmawiajmy o oznakowaniu Twojego magazynu</h3>
    <p>Jeśli planujesz wdrożenie systemu oznaczeń w magazynie lub chcesz uporządkować
      istniejącą infrastrukturę oznaczeń, możemy przygotować projekt dopasowany do
      specyfiki Twojego obiektu i procesów operacyjnych.
    </p>
    <p>Każdy projekt rozpoczynamy od analizy infrastruktury magazynowej oraz sposobu
      funkcjonowania procesów logistycznych w organizacji.
    </p>
    <app-button-link name="umów konsultacje" link="contact" fragment="form"></app-button-link>
  </div>
</div>
