<app-hero></app-hero>
<div class="sectionApproach">
  <h2>Systemowe podejście do znakowania</h2>
  <div class="descriptionElement">
    <p>W środowisku magazynowym oznakowanie nie pełni wyłącznie funkcji informacyjnej.
      Jest elementem organizacji procesów operacyjnych i bezpieczeństwa pracy.</p>
    <p>Projektujemy systemy oznaczeń w oparciu o analizę infrastruktury, przepływów towarowych i realnych potrzeb operacyjnych.</p>
  </div>
  <div class="listApproach">
    <h4>Dobrze zaprojektowane oznakowanie</h4>
    <ul>
      <li>
        <i class="fa-sharp fa-light fa-location-crosshairs"></i>
        minimalizuje błędy lokalizacyjne</li>
      <li>
        <i class="fa-sharp fa-light fa-stopwatch"></i>
        skraca czas operacji</li>
      <li>
        <i class="fa-sharp fa-light fa-shield-check"></i>
        zwiększa bezpieczeństwo</li>
      <li>
        <i class="fa-sharp fa-light fa-diagram-project"></i>
        porządkuje strukturę przestrzeni</li>
      <li>
        <i class="fa-light fa-chalkboard-user"></i>
        ułatwia wdrażanie nowych pracowników</li>
    </ul>
  </div>
</div>
