@use 'styles' as c

$box-1: #f1e3e7 // róż
$box-2: #e1ece3 // mięta
$box-3: #e1edf4 // błękit
$box-4: #f0e7d8 // piaskowy

$darkenPercent: 30%

:host
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem

.dataAnaliticSection
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem


  h2
    font-size: c.$fontSizeBigText
    font-weight: 500
    text-align: center

  p
    font-size: c.$fontSizeSmallText
    font-weight: 100


.contentAnalitic
    display: grid
    grid-template-columns: 1fr
    grid-gap: 3rem

    h4
      font-size: c.$fontSizeMediumText
      font-weight: 300
      text-align: center



    p
      font-size: c.$fontSizeSmallText
      font-weight: 100


.analiticElements
  display: grid
  grid-template-columns: 1fr
  grid-gap: 1rem

  .analiticItem
    display: grid
    grid-template-columns: auto 1fr
    grid-gap: 1rem
    padding: 1.4rem 1.6rem
    border-radius: 2rem

    i
      grid-column: 1 / span 1
      grid-row: 1 / span 1
      font-size: c.$fontSizeMediumText
      justify-self: center
      align-self: center


    h4
      grid-column: 2 / -1
      grid-row: 1 / span 1
      font-size: c.$fontSizeSmallText
      font-weight: 400

    p
      grid-column: 1 / -1
      grid-row: 2 / span 1
      font-size: c.$fontSizeSmallText * 0.85
      font-weight: 100
      color: #282828C7

    &.first
      background-color: $box-1
      transition: all 0.5s ease-in-out

      & > i
        color: darken($box-1,$darkenPercent)

    &.second
      background-color: $box-2
      transition: all 0.5s ease-in-out

      & > i
        color: darken($box-2,$darkenPercent)

    &.third
      background-color: $box-3
      transition: all 0.5s ease-in-out

      & > i
        color: darken($box-3,$darkenPercent)

    &.fourth
      background-color: $box-4
      transition: all 0.5s ease-in-out

      & > i
        color: darken($box-4,$darkenPercent)


    &:hover.first, &:hover.second, &:hover.third, &:hover.fourth
      width: 100%


.scopeAnaliticSection
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem

  h4
    font-size: c.$fontSizeBigText
    font-weight: 300
    text-align: center

  .elementsScope
    display: grid
    grid-template-columns: 1fr
    grid-gap: 3rem

::ng-deep app-button-link
  grid-column: 1 / -1
  justify-self: center


.analiticsWhyWeSection
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem

  h2
    font-size: c.$fontSizeBigText
    font-weight: 400
    text-align: center

  h4
    font-size: c.$fontSizeMediumText
    font-weight: 300
    text-align: center

  p
    font-size: c.$fontSizeSmallText
    font-weight: 100


.elementsAnaliticWhyWe
  display: grid
  grid-template-columns: repeat(2, 1fr)
  grid-gap: 3rem


  .itemAnaliticWhyWe
    display: grid
    grid-template-columns: 4rem 1fr
    grid-gap: 1rem
    padding: 2rem
    outline: 1px solid #282828C7
    outline-offset: 0.4rem
    border-radius: 2rem


    i
      font-size: 3rem
      justify-self: center
      align-self: center

    p
      grid-column: 1 / -1
      grid-row: 2 / span 1
      font-size: c.$fontSizeSmallText * 0.85

    h4
      justify-self: start
      align-self: center

      text-align: start
      font-size: c.$fontSizeSmallText * 1.1


  .element-1
    background-color: $box-1
    outline-color: darken($box-1,$darkenPercent)
    & > i
      color: darken($box-1,$darkenPercent)

  .element-2
    background-color: $box-2
    outline-color: darken($box-2,$darkenPercent)
    & > i
      color: darken($box-2,$darkenPercent)

  .element-3
    background-color: $box-3
    outline-color: darken($box-3,$darkenPercent)
    & > i
      color: darken($box-3,$darkenPercent)

  .element-4
    background-color: $box-4
    outline-color: darken($box-4,$darkenPercent)
    & > i
      color: darken($box-4,$darkenPercent)



.CTAAnaliticSection
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem
  margin: 3rem 0

  img
    width: 100%
    height: 15rem
    object-fit: cover
    border-radius: 2rem
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2)

  h2
    font-size: c.$fontSizeBigText
    font-weight: 400
    text-align: center

  p
    font-size: c.$fontSizeSmallText
    font-weight: 100

  &::ng-deep app-button-link
    grid-column: 1 / -1
    justify-self: center
