<app-hero></app-hero>
<div class="dataAnaliticSection">
  <h2>Dlaczego analiza danych?</h2>
  <div class="contentAnalitic">
    <h4>Lepszy wgląd w procesy, koszty i realne możliwości rozwoju</h4>
    <p>Analiza danych pozwala zobaczyć więcej niż pojedyncze liczby w tabeli. Pomaga
      zrozumieć, które procesy działają sprawnie, gdzie pojawiają się straty, co wpływa na
      wydajność i które decyzje naprawdę poprawiają funkcjonowanie firmy. To praktyczne
      wsparcie dla biznesu, logistyki, operacji i sprzedaży.</p>
  </div>
  <div class="analiticElements">
    <div class="analiticItem first">
      <i class="fa-sharp fa-light fa-magnifying-glass-chart"></i>
      <h4>Szybsze wykrywanie problemów</h4>
      <p>Dobrze przygotowana analiza pomaga zauważyć nieefektywności, powtarzające się
        błędy i obszary wymagające poprawy, zanim zaczną generować większe koszty lub
        wpływać na jakość pracy.</p>
    </div>
    <div class="analiticItem second">
      <i class="fa-sharp fa-light fa-sliders"></i>
      <h4>Lepsza kontrola nad procesami</h4>
      <p>Dane pokazują, jak naprawdę działa organizacja. Dzięki temu łatwiej ocenić wydajność operacji, porównać wyniki i zidentyfikować miejsca, które wymagają usprawnienia.</p>
    </div>
    <div class="analiticItem third">
      <i class="fa-sharp fa-light fa-bullseye"></i>
      <h4>Trafniejsze decyzje biznesowe</h4>
      <p>Czytelne raporty i dashboardy porządkują informacje i ułatwiają podejmowanie decyzji opartych na faktach, a nie wyłącznie na intuicji czy rozproszonych danych z różnych źródeł.</p>
    </div>
    <div class="analiticItem fourth">
      <i class="fa-sharp fa-light fa-chart-column"></i>
      <h4>Większa przejrzystość i rozwój</h4>
      <p>Analiza danych wspiera planowanie, prognozowanie i rozwój firmy. Ułatwia ocenę efektów działań, monitorowanie zmian i budowanie bardziej uporządkowanego modelu zarządzania.</p>
    </div>
  </div>
  <p>Dane stają się wartościowe dopiero wtedy, gdy pomagają lepiej rozumieć firmę i
    podejmować właściwe decyzje.</p>
</div>
<div class="scopeAnaliticSection">
  <h4>Zakres usług</h4>
  <div class="elementsScope">
    @for (data of dataAnalitictScopec; track $index; let i = $index) {
      <app-scope-service [data]="data" [isReverse]="i % 2 === 0"></app-scope-service>
    }</div>
  <app-button-link fragment="wspolpraca" link="contact" name="jak wyglada współpraca"></app-button-link>
</div>
<div class="analiticsWhyWeSection">
  <h2>Dlaczego warto pracować z nami</h2>
  <h4>Łączymy analizę danych z rozumieniem procesów, operacji i realnych potrzeb firmy</h4>
  <p>Dobra analiza danych nie powinna kończyć się na wykresach i tabelach. Jej wartość pojawia się wtedy, gdy pomaga lepiej rozumieć procesy, szybciej zauważać problemy i podejmować trafniejsze decyzje. W Fora Warehouse System stawiamy na rozwiązania, które są czytelne, praktyczne i dopasowane do sposobu działania firmy.
  </p>
  <div class="elementsAnaliticWhyWe">
    @for (item of  dataAnaliticsWhyWe; track item.id; let i = $index) {
      <div class="itemAnaliticWhyWe element-{{$index + 1}}">
        <i [class]="item.icon"></i>
        <h4>{{item.title}}</h4>
        <p>{{item.description}}</p>
      </div>

    }
  </div>
</div>
<div class="CTAAnaliticSection">
  <h2>Dane mają największą wartość wtedy, gdy wspierają działanie</h2>
  <img
    src="https://admin.fora-poligrafia.pl/uploads/dane_CTA_Analiza_Danych_87ddfcfc14.webp" alt="zdjęcie CTA">
  <p>Tworzymy rozwiązania analityczne, które pomagają lepiej rozumieć procesy, szybciej reagować na zmiany i podejmować trafniejsze decyzje. Jeśli chcesz sprawdzić, jak możemy wesprzeć Twoją firmę, zapraszamy do kontaktu.</p>
  <app-button-link fragment="form" link="contact" name="umów rozmowę"></app-button-link>
</div>
