@use 'styles' as c

$box-1: #f1e3e7 // róż
$box-2: #e1ece3 // mięta
$box-3: #e1edf4 // błękit
$box-4: #f0e7d8 // piaskowy

$darkenPercent: 30%

:host
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem

.dataAnaliticSection
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem


  h2
    font-size: c.$fontSizeBigText
    font-weight: 500
    text-align: center

  p
    font-size: c.$fontSizeSmallText
    font-weight: 100


.contentAnalitic
    display: grid
    grid-template-columns: 1fr
    grid-gap: 3rem

    h4
      font-size: c.$fontSizeMediumText
      font-weight: 300
      text-align: center



    p
      font-size: c.$fontSizeSmallText
      font-weight: 100


.analiticElements
  display: grid
  grid-template-columns: 1fr
  grid-gap: 1rem

  .analiticItem
    display: grid
    grid-template-columns: auto 1fr
    grid-gap: 1rem
    padding: 1.4rem 1.6rem
    border-radius: 2rem

    i
      grid-column: 1 / span 1
      grid-row: 1 / span 1
      font-size: c.$fontSizeMediumText
      justify-self: center
      align-self: center


    h4
      grid-column: 2 / -1
      grid-row: 1 / span 1
      font-size: c.$fontSizeSmallText
      font-weight: 400

    p
      grid-column: 1 / -1
      grid-row: 2 / span 1
      font-size: c.$fontSizeSmallText * 0.85
      font-weight: 100
      color: #282828C7

    &.first
      background-color: $box-1
      transition: all 0.5s ease-in-out

      & > i
        color: darken($box-1,$darkenPercent)

    &.second
      background-color: $box-2
      transition: all 0.5s ease-in-out

      & > i
        color: darken($box-2,$darkenPercent)

    &.third
      background-color: $box-3
      transition: all 0.5s ease-in-out

      & > i
        color: darken($box-3,$darkenPercent)

    &.fourth
      background-color: $box-4
      transition: all 0.5s ease-in-out

      & > i
        color: darken($box-4,$darkenPercent)


    &:hover.first, &:hover.second, &:hover.third, &:hover.fourth
      width: 100%


.scopeAnaliticSection
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem

  h4
    font-size: c.$fontSizeBigText
    font-weight: 300
    text-align: center

  .elementsScope
    display: grid
    grid-template-columns: 1fr
    grid-gap: 3rem
