/*
Error: Invalid property: ":host" (no value).
       If ":host" should be a selector, use "\:host" instead.
        on line 3 of icon-button.component.sass

1: @use 'styles' as c
2: 
3: :host
4: 
5: 
6: .iconButonComponetn
7:   background-color: lighten(c.$mainColor,5%)
8:   aspect-ratio: 1.3 / 1

Backtrace:
icon-button.component.sass:3
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:755:in `parse_property'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:642:in `parse_line'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:539:in `build_tree'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:558:in `block in append_children'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `each'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:557:in `append_children'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:417:in `_to_tree'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:389:in `_render_with_sourcemap'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/engine.rb:307:in `render_with_sourcemap'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:387:in `run'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/sass_scss.rb:63:in `process_result'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/base.rb:50:in `parse'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/lib/sass/exec/base.rb:18:in `parse!'
/Library/Ruby/Gems/2.6.0/gems/sass-3.7.4/bin/sass:13:in `<top (required)>'
/usr/local/bin/sass:23:in `load'
/usr/local/bin/sass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid property: \":host\" (no value).\A        If \":host\" should be a selector, use \"\:host\" instead.\A         on line 3 of icon-button.component.sass\A \A 1: @use 'styles' as c\A 2: \A 3: :host\A 4: \A 5: \A 6: .iconButonComponetn\A 7:   background-color: lighten(c.$mainColor,5%)\A 8:   aspect-ratio: 1.3 / 1"; }
