<h1>{{dataHero.title}}</h1>
<!--<div class="photoElementHero" [ngStyle]="{backgroundImage: 'url(' + photosURS + ')'}"></div>-->
<div class="photoElementHero">
  <img [src]="photosURS" loading="lazy" [alt]="'zdjecie' +dataHero.title">
</div>
<div class="contentElementHero">
  <markdown [data]="dataHero.description_text"></markdown>
  <div class="buttonElementHero">
    @if(dataHero.title){
      <app-button-link link="/contact" name="{{dataHero.cta_text_button}}"
                       color="primary">
      </app-button-link>
    }
  </div>
</div>







