<h3>Rozwiązania, które porządkują przestrzeń i dane</h3>

<p>
  Niezależnie od tego, czy potrzebujesz znakowania magazynu, projektu graficznego, analizy danych
  czy strony internetowej — pracujemy według jednego schematu: diagnoza, projekt, wdrożenie,
  optymalizacja.
</p>
<div class="stagesCooperationElemenent">
  <h3>Jak wygląda współpraca?</h3>
    <p>
      Każdy projekt – niezależnie od skali – realizujemy według uporządkowanego modelu działania.
      Dzięki temu masz pełną kontrolę nad procesem, budżetem i efektem końcowym.
    </p>
  <div class="grafContener">
    <app-diagram-stages [stagesIsActive]="activeStage"></app-diagram-stages>
  </div>
  <div class="sectionLead">
    <h3>Zacznijmy od rozmowy</h3>
    <p>Nie musisz mieć gotowego briefu ani dokładnej specyfikacji.
      Wystarczy pomysł, problem lub cel — pomożemy uporządkować resztę.</p>
    <p>Każde zgłoszenie analizujemy indywidualnie i wracamy z odpowiedzią w ciągu 24
      godzin roboczych.</p>
    <div class="sectionLeadBlock">
        <app-lead-block leadTitle="Masz pomysł, ale nie wiesz od czego zacząć?"
                        leadText="Opisz swoją sytuację w kilku zdaniach. Podpowiemy możliwe kierunki działania i zaproponujemy optymalne rozwiązania dopasowane do Twojej skali i budżetu."
                        leadIcon="fa-light fa-lightbulb-on"
                        [leadColor]="1"
        ></app-lead-block>
        <app-lead-block leadText="Przedstaw zakres projektu, a przygotujemy przejrzystą propozycję z jasno określonym budżetem, etapami realizacji i harmonogramem."
        leadTitle="Potrzebujesz konkretnej wyceny?"
                        leadIcon="fa-sharp-duotone fa-light fa-calculator-simple"
                        [leadColor]="2"
        ></app-lead-block>
        <app-lead-block leadTitle="Szukasz stałego partnera do współpracy?"
        leadText="Jeśli zależy Ci na długofalowym wsparciu — zaproponujemy model działania dopasowany do Twojej organizacji, procesów i tempa rozwoju."
        leadIcon="fa-sharp fa-light fa-handshake"
        [leadColor]="3"></app-lead-block>
    </div>
  </div>
  <div class="enndingSectionElement">
    <h3>Porozmawiajmy o Twoim projekcie</h3>
    <p>Każde zgłoszenie analizujemy indywidualnie.
      W ciągu maksymalnie 24 godzin roboczych wracamy z odpowiedzią — potwierdzeniem kontaktu, wstępną analizą lub propozycją dalszych kroków.</p>
    <p>Najwygodniejszą formą kontaktu jest formularz poniżej — pozwala nam od razu zebrać komplet informacji i szybciej przygotować konkretną odpowiedź.</p>
    <p>Możesz również skontaktować się z nami bezpośrednio:</p>
    <div class="contactElement">
      <a
        href="tel: +48507187527">
        <i class="fa-sharp-duotone fa-light fa-circle-phone"></i>
        <p>507187527</p></a>
      <a href="mailto:kontakt@fora-ws.pl">
        <i class="fa-sharp-duotone fa-light fa-circle-envelope"></i>
        <p>kontak&#64;fora-ws.pl</p></a>
    </div>
  </div>

  <h3 class="contactForm">Formularz kontaktowy</h3>
</div>
