<h3>Rozwiązania, które porządkują przestrzeń i dane</h3>

<p>
  Niezależnie od tego, czy potrzebujesz znakowania magazynu, projektu graficznego, analizy danych
  czy strony internetowej — pracujemy według jednego schematu: diagnoza, projekt, wdrożenie,
  optymalizacja.
</p>
<div class="stagesCooperationElemenent">
  <h3>Jak wygląda współpraca?</h3>
    <p>
      Każdy projekt – niezależnie od skali – realizujemy według uporządkowanego modelu działania.
      Dzięki temu masz pełną kontrolę nad procesem, budżetem i efektem końcowym.
    </p>
  <div class="grafContener">
    <app-diagram-stages [stagesIsActive]="activeStage"></app-diagram-stages>
  </div>
</div>
