@use 'styles' as c

.container
  //position: relative
  //margin: 2rem auto

.asfalt
  stroke: #575757

svg
  transform: translateZ(0)

.processPath
  display: block
  max-width: 100%


foreignObject
  overflow: visible
  transform: translateZ(0)
