@use 'styles' as c

$colorLineOBrder: rgba(214, 214, 214, 0.93)


:host
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem



.whyDronInspection
  display: grid
  grid-template-columns: 1fr
  grid-gap: 2rem

  h2
    font-size: c.$fontSizeBigText * 1.2
    font-weight: 500
    text-align: center

  h6
    font-size: c.$fontSizeBigText
    font-weight: 300
    text-align: center


  p
    font-size: c.$fontSizeSmallText
    font-weight: 100
    letter-spacing: 1px
    text-align: start


.boxDronInspection
  display: flex
  flex-direction: row
  //gap: 1rem
  width: 100%
  flex-wrap: wrap
  justify-content: center

  .elementDrone
    display: flex
    flex-direction: column
    gap: 1rem
    width: 40%
    padding: 2rem


    h6
      font-size: c.$fontSizeMediumText * 0.8
      font-weight: 300

    p
      font-size: c.$fontSizeSmallText * 0.8
      font-weight: 100
      width: 80%
      text-align: center
      margin: 0 auto


  & .droneFirst
    border-right: 1px solid $colorLineOBrder
    border-bottom: 1px solid $colorLineOBrder

  & .droneSecond
    border-bottom: 1px solid $colorLineOBrder


  & .droneThird
    border-right: 1px solid $colorLineOBrder


.scopeDroneSection
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem

  h4
    font-size: c.$fontSizeBigText
    font-weight: 300
    text-align: center

  .scopeElementDrone
    display: grid
    grid-template-columns: 1fr
    grid-gap: 5rem


::ng-deep app-button-link
  justify-self: center


.droneAplicationAreaSection
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem
  justify-items: center
  align-items: center


  h4
    font-size: c.$fontSizeBigText
    font-weight: 300
    text-align: center

  p
    font-size: c.$fontSizeSmallText
    font-weight: 100



.droneAplicationAreaElements
  display: flex
  flex-direction: row
  gap: 3rem
  flex-wrap: wrap
  justify-content: center
  align-items: center

  .elementDrone
    width: 40%
    display: grid
    grid-template-columns: repeat(4, 1fr)
    grid-gap: 1rem 2rem
    min-width: 29rem
    border-radius: 2rem
    //border: 1px solid $colorLineOBrder
    overflow: hidden
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2)
    min-height: 17rem
    background-color: rgba(c.$fontColorLight, 0.1)

    i
      grid-column: 1 / span 1
      grid-row: 1 / span 1
      font-size: 4em
      align-self: center
      padding: 2rem 1rem 1rem 2rem
      width: 100%
      color: darken(c.$mainColor,11%)


    h6
      grid-column: 2 / -1
      grid-row: 1 / span 1
      font-size: c.$fontSizeMediumText * 0.8
      font-weight: 500
      align-self: center

    p
      grid-column: 1 / -1
      grid-row: 2 / span 1
      font-size: c.$fontSizeSmallText * 0.8
      padding: 0 2rem 2rem 2rem




.droneWhyWeSection
  display: grid
  grid-template-columns: 0.5fr  1fr
  grid-gap: 3rem

  h4
    grid-column: 1 / -1
    font-size: c.$fontSizeBigText
    font-weight: 300
    text-align: center

  .sectionLeft
    display: flex
    flex-direction: column
    gap: 4rem

  .sectionRight
    display: flex
    flex-direction: column
    gap: 2rem


    .whyWeElement
      display: grid
      grid-template-columns: auto 1fr
      grid-gap: 1rem

      i
        font-size: 2rem
        grid-column: 1 / span 1
        grid-row: 1 / span 1

        color: c.$mainColor

      h6
        grid-column: 2 / span 1
        grid-row: 1 / span 1
        font-size: c.$fontSizeSmallText
        font-weight: 400

      p
        grid-column: 2 / -1
        grid-row: 2 / span 1
        font-size: c.$fontSizeSmallText * 0.8


.CTASectionDrone
  display: grid
  grid-template-columns: 1fr
  grid-gap: 3rem
  justify-items: center
  align-items: center

  img
    width: 100%
    height: 20rem
    object-fit: cover
    border-radius: 2rem
    box-shadow: 0 0 1rem 0.2rem rgba(0, 0, 0, 0.2)
    opacity: 0.8

  h3
    font-size: c.$fontSizeBigText
    font-weight: 200
    text-align: center
